.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-content {
  margin-top: 20px;
}

#back-to-code {
  position: absolute;
  top: 0;
  right: 0;

  padding: 1em;
  border: 1px dashed currentColor;
  font-family: monospace;
  font-size: 1.25rem;

  color: inherit;
}

.app-content textarea {
  height: 100px;
}
