:root {
  --main-accent-color: #ececec;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #6b6b6b;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
  color: #e8e8e8;
  margin-top: 1px;
  margin-bottom: 15px;
}

.app-content {
  display: inline-block;
  vertical-align: top;
}

.app-content > div {
  display: inline-block;
  vertical-align: top;
}

#back-to-code {
  top: 0;
  right: 0;
  padding: 0.3em 0.5em;
  border: 1px dashed currentColor;
  font-family: monospace;
  font-size: 1.25rem;
  color: inherit;
  background-color: #797979;
  text-decoration: none;
}

#back-to-code:hover {
  background-color: transparent;
}

.app-content textarea {
  height: 199px;
  padding: 8px;
  border: 4px solid var(--main-accent-color);
}

.app-content textarea:disabled {
  background-color: var(--main-accent-color);
}

.app-content .result-output textarea {
  resize: none;
  background-color: var(--main-accent-color);
}

.data-viz {
  display: inline-block;
  width: 200px;
  height: 252px;
  margin: 0px 30px;
}

p.error {
  color: red;
}
