.app {
  text-align: center;
}

.app-header {
  background-color: #6b6b6b;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-content {
  margin-top: 20px;
}

.app-content > div {
  display: inline-block;
}

#back-to-code {
  position: absolute;
  top: 0;
  right: 0;

  padding: 1em;
  border: 1px dashed currentColor;
  font-family: monospace;
  font-size: 1.25rem;

  color: inherit;
}

.app-content textarea {
  height: 196px;
}

.data-viz {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0px 30px;
}
