language: node_js

node_js:
  - "node"

install:
  - npm i -g npm@6.1
  - npm install -g codecov
  - npm ci

cache:
  directories:
    - node_modules

script:
  - npm run lint
  - npm test
  - npm run coverage
  - codecov --token=$CODECOV_TOKEN

after_success:
  - npm run build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local_dir: build
  on:
    branch: test-deploy
