language: node_js
node_js:
  - 8
install:
  - npm install -g codecov
script:
  - npm run lint
  - npm tes
after_success:
  - npm run coverage
  - codecov --token=$CODECOV_TOKEN
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local_dir: build
  on:
    branch: master
