language: node_js
node_js:
  - 6
install:
  - npm install -g codecov
cache:
  directories:
    - node_modules
script:
  - npm run build
  - npm run coverage
  - codecov --token=$CODECOV_TOKEN
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local_dir: build
  on:
    branch: master
