svg {
  max-width: 200px;
  display: inline-block;
  background-color: #f7f7f7;
  border: 4px solid var(--main-accent-color);
  height: 100%;
  max-height: 200px;
  padding: 2px;
  margin-top: 16px;
}
svg.error {
  background-color: pink;
}
svg.complete {
  background-color: #e2ffe2;
}

svg rect {
  transition: all 0.25s ease-out;
}

.fetching rect {
  visibility: hidden;
}
