svg {
  width: 200px;
  display: inline-block;
  background-color: #f7f7f7;
  border: 1px solid darkgray;
  height: 200px;
}
svg.error {
  background-color: pink;
}
svg.complete {
  background-color: #e2ffe2;
}

svg rect {
  transition: all 0.1s ease;
}

.fetching rect {
  visibility: hidden;
}
